body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    /*overflow: hidden;
    /*width: 100vw;
    height: 100vh;
    zoom: 90%;
    */
    zoom: 50%;
}

#board{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    font-family: pacfont;
    font-size: 45px;
    color: white;
}

#infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 560px;
}

#points{
    text-align: center;
    font-family: pixelfont;
    font-size: 30px;
    color: white;
}

#pacLives{
    font-family: pacfont;
    font-size: 20px;
    color: white;
    margin-top: 35px;
}

@font-face {
    font-family: 'pacfont';
    src: url('../costumFont/pac-font-webfont.woff2') format('woff2'),
    url('../costumFont/pac-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelfont';
    src: url("../costumFont/pixeloperator-webfont.woff") format("woff"),
    url("../costumFont/pixeloperator-webfont.woff2") format("woff2");
}

#gameCanvas{
    box-shadow: black 20px 10px 50px;
    background-color: black;
}

#btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#retry{
    font-family: "pixelfont";
    font-size: 20px;
    background-color: #343434;
    color: red;
    border: 2px solid #2ad0fd;
    margin: 10px;
    padding-bottom: 5px;
}

#retry:hover{
    /*background-color: #676767;*/
    border: 2px solid red;
}

#edit{
    font-family: "pixelfont";
    font-size: 20px;
    background-color: #343434;
    color: red;
    border: 2px solid #2ad0fd;
    margin: 10px;
    padding-bottom: 5px;
}

#edit:hover{
    border: 2px solid red;
}


/*
edit:
*/
.container {
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(20, 1fr);
    flex-wrap: wrap;
    width: 90vmin;
    height: 90vmin;
    background: #dbe9ff;
    border-radius: 0.5rem;
    user-select: none;
}

.container > div {
    background: #aaccff;
    border-radius: 0.25rem;
}

.container > div.selected {
    background: #5f9efc;
}

.selection-area {
    background: #4f90f22d;
    border: 1px solid #4f90f2;
}
